.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0fdf4;
    border: 2px solid #34d399;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 80%;
    max-width: 500px;
    max-height: 100vh; /* Added max-height */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 20px;
  }
  
  .popup-content {
    display: flex;
    flex-direction: column;
  }
  
  .popup-content h2 {
    color: #065f46;
    margin-bottom: 20px;
  }
  
  .popup-content form {
    display: flex;
    flex-direction: column;
  }
  
  .popup-content input,
  .popup-content textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #34d399;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .popup-content button {
    background-color: #34d399;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .popup-content button:hover {
    background-color: #059669;
  }
  
  .popup-content button[type="submit"] {
    background-color: #10b981;
  }
  
  .popup-content button[type="submit"]:hover {
    background-color: #059669;
  }
  